extends layout

block content

	form#search(action="/search")
		.form-group
			input#search-input(type="text", name="name", placeholder="Country name here...")
		.form-group
			input(type="submit", value="Search")

	h1= title
	p Welcome to #{title}


	form#country
		button Load Countries

	.country-list
